.card {
  margin-top: 45px;
  max-width: 31vw;
  max-height: 57vh !important;
  margin-left: 50px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card .card-header {
  padding: 20px;
  text-align: start;
  font-size: 10px;
  background-color: #066182;
  color: #fff;
}

.card-body button {
  background-color: #09a6df;
  justify-content: start;
  border-color: #eee;
  padding: 8px 20px 8px 20px;
}

.card-body .title {
  font-size: 15px;
  color: #444;
  margin-bottom: 10px;
  text-align: start;
}

/* .card-body input[type="submit"]:hover {
  background-color: #066182;
} */
.card-footer {
  display: block;
  background-color: #fff;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body label {
  text-align: start;
  font-size: 16px;
}
